{% extends 'layout/base.html.twig' %}

{% block body %}
<h2>Projects</h2>

{% for project in projects %}
<a href="/project/{{ project._id }}">{{ project.name }}</a>
<br />
{% endfor %}

<a href="/project/new">New Project</a>

{% endblock %}