{% extends 'layout/base.html.twig' %}

{% block title %}which.io - Simulation{% endblock %}
{% block html_id %}simulation{% endblock %}

{% block body %}

<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="/simulation">Simulation</a></li>
    <li><a href="#">Log In</a></li>
  </ul>
  <h3 class="muted">which.io</h3>
</div>

<hr>

<h2>Simulation</h2>

slug: {{ test.slug }}

<ul>
	{% for option in test.options %}
	<li data-option="{{ option.slug }}">{{ option.count }}</li>
	{% endfor %}
</ul>

{% endblock %}

{% block script %}

<script>

Array.prototype.shuffle = function() {
  var i = this.length, j, tempi, tempj;
  if ( i == 0 ) return false;
  while ( --i ) {
     j       = Math.floor( Math.random() * ( i + 1 ) );
     tempi   = this[i];
     tempj   = this[j];
     this[i] = tempj;
     this[j] = tempi;
  }
  return this;
}

var options = {
	'a' : {
		'percentage': 0.3,
		'reward': 1
	},
	'b' : {
		'percentage': 0.4,
		'reward': 1
	}
};

var iterations = 1000;

_.each(options, function (option, slug) {
	
	options[slug].choices = [];
	
	for (var i = 0; i < iterations; i++) {
		var success = (i < options[slug].percentage * (iterations / 10)) ? 1 : 0
		options[slug].choices.push(success);
	}
	
	options[slug].choices.shuffle();
	
});

console.log(options);

var getOption = function () {
	
	var _i = window.queue.pop();
	
	if (!_i) {
		clearInterval(window.interval);
		return;
	}
	
	$.get('http://localhost:5010/test/testing/choose', { key: _i }, function (option) {
	
		var $el = $('[data-option='+option.slug+']'),
			count = parseInt($el.text(), 10);
			
		$el.text(count + 1);
		
		var _option = options[option.slug];
			
		if (_option.choices.pop() > 0) {
			
			$.post('http://localhost:5010/test/testing/reward', {
				key: _i,
				_id: option._id,
				reward: _option.reward
			}, function (saved_option) {
				console.log(saved_option);
			});
			
		}
		
	});
	
}

window.queue = [];

window.interval = setInterval(function () {
	getOption();
}, 25);

$(function () {
	for (var i = 0; i < iterations; i++) {
		window.queue.push(i);
	}
});

</script>
{% endblock %}