<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <title>Swig » Documentation</title> 

<link rel="stylesheet" href="/swig/css/swig.css">



</head>
<body class="docs">

  

<header class="header">
  <div class="content row">
    <hgroup class="span7">
      <h1><a href="/swig/">{{ name.first }} {{ name.last }}</a></h1>
      <h2>A Node.js and Browser-based JavaScript Template Engine</h2>
    </hgroup>
    
    <nav class="span5">
      <ul class="mainNav">
        <li><a href="/swig/docs/">Documentation</a></li>
        <li><a href="https://github.com/paularmstrong/swig/">Code</a></li>
      </ul>
    </nav>
  
  </div>
</header>

</body>
</html>