{% extends 'layout/base.html.twig' %}

{% block title %}which.io - Fast & Adaptive Multivariate Testing{% endblock %}
{% block html_id %}home{% endblock %}

{% block body %}

<div id="header">
	<h2><span data-which="true">1st</span> world problems</h2>
	<h3>Let your users determine the most optimized version.</h3>
	<h3>which.io is a REST API for fast & adaptive testing.</h3>
	<img src="img/marketing-graphs.png" />
</div>

<div id="body">
	<a href="mailto:&#098;&#112;&#097;&#114;&#116;&#114;&#105;&#100;&#103;&#101;&#056;&#051;+&#119;&#104;&#105;&#099;&#104;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Interested in which.io" class="email">Coming Soon</a>
</div>

{% endblock %}