{% extends 'layout/base.html.twig' %}

{% block body %}
<h2>New Test</h2>

<form action="/test/new" method="post">

	<input type="text" name="slug" />
	<input type="text" name="project" value="51183779bf7abaae45000001" />
	<input type="hidden" name="_csrf" value="{{ token }}" />

	<button type="submit">Create Test</button>

</form>

{% endblock %}