{% extends 'layout/base.html.twig' %}

{% block body %}
<h2>New Test</h2>

<form action="/project/{{ project._id }}/test" method="post">
    <div>
        <label>Key:</label>
        <input type="text" name="slug" value="" />
    </div>
	<div>
		<input type="hidden" name="_csrf" value="{{ token }}" />
	</div>
    <div>
        <button type="submit" value="Create Test" class="btn">Create Test</button>
    </div>
</form>

{% endblock %}